<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
      <!--  (SELECT * FROM OPENROWSET(BULK N'C:\img\1.png', SINGLE_BLOB) as T1) -->
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>   
        <property name="hibernate.connection.password">Admin@2021</property> 
       
    <!-- 	 <property name="hibernate.connection.password">Cursor777</property>  -->


      	<property name="hibernate.connection.url">jdbc:sqlserver://localhost</property> 
     <!--  	 <property name="hibernate.connection.url">jdbc:sqlserver://192.168.16.160:1433</property>  -->

        <property name="hibernate.connection.databaseName">DreamIT_Prime_ERP</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		
    </session-factory>
</hibernate-configuration>
